*{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #00264B;
}

.logos{
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.conteudo{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.titulo{
  text-align: center;
}

